<%
const ejsRoot = "../";

const pageSettings = {
    pageId: "shindan_top",
    title: "demo",
    description: "demo",
    url: "https://yuutayoshida.github.io/demo_diagnosis/",
    ogpUrl: "https://placehold.jp/1200x630.png",
    useLibrary: "true",
}
%>

<%- include(ejsRoot + "template/header.ejs", {meta: pageSettings}); %>
    <section class="mv">
        <div class="bg_circleObj bg_circleObj-1 js-animationLoadTarget">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 190.54 178.43">
                <path fill-rule="evenodd" d="M 83.37 21 c 12 -15 22 -21 47 -21 c 25 0 51 7 58 34 c 7 27 -5 43 -7 48 c -2 5 -24 21 -27 24 c -3 3 -11 14 -12 19 c -1 5 -18 29 -30 32 c -12 3 -25 11 -46 -1 c -21 -12 -3 -30 -44 -47 c -41 -17 -19 -72 13 -70 S 71.37 36 83.37 21 Z">
                    <animate dur="16s" repeatCount="indefinite" attributeName="d" values="
                    M 83.37 21 c 12 -15 22 -21 47 -21 c 25 0 51 7 58 34 c 7 27 -5 43 -7 48 c -2 5 -24 21 -27 24 c -3 3 -11 14 -12 19 c -1 5 -18 29 -30 32 c -12 3 -25 11 -46 -1 c -21 -12 -3 -30 -44 -47 c -41 -17 -19 -72 13 -70 S 71.37 36 83.37 21 Z;
                    M 74.6 11.31 c 16 -14 41 -15 67 -3 c 26 12 34 10 43 31 c 9 21 -1.39 39 -8 45 c -6.61 6 -20.77 -1.45 -32 14 c -11.23 15.45 0 17 -1 35 c -1 18 -11.67 25.91 -27 36 c -15.33 10.09 -34 15 -55 3 c -21 -12 -14 -23 -41 -45 c -27 -22 -22 -96 10 -94 S 62.82 21.61 74.6 11.31 Z;
                    M 81.37 19 c 4 -4 12 -19 37 -19 c 25 0 45 11 52 38 c 7 27 -6 26 -8 37 c -2.66 14.63 4 30 -7 41 c -3 3 -9 9.89 -23 14 c -17 5 -21.83 23 -32 30 c -13 9 -32 12 -44 1 c -20.85 -19.11 7 -35 -34 -52 c -41 -17 -19 -72 13 -70 S 72.31 28.06 81.37 19 Z;
                    M 83.37 21 c 12 -15 22 -21 47 -21 c 25 0 51 7 58 34 c 7 27 -5 43 -7 48 c -2 5 -24 21 -27 24 c -3 3 -11 14 -12 19 c -1 5 -18 29 -30 32 c -12 3 -25 11 -46 -1 c -21 -12 -3 -30 -44 -47 c -41 -17 -19 -72 13 -70 S 71.37 36 83.37 21 Z
                    "></animate>
                </path>
            </svg>
        </div>
        <div class="bg_circleObj bg_circleObj-2 js-animationLoadTarget">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 462.47 404.77">
                <path fill-rule="evenodd" d="M 439.21 53.38 c 53.25 71.37 5 195 -44 243 c -49 48 -104 53 -149 76 c -45.35 23.18 -155 58 -203 3 c -54.75 -62.73 -66.08 -216 17 -301 C 148.21 -15.62 380.31 -25.56 439.21 53.38 Z">
                    <animate dur="16s" repeatCount="indefinite" attributeName="d" values="
                    M 439.21 53.38 c 53.25 71.37 5 195 -44 243 c -49 48 -104 53 -149 76 c -45.35 23.18 -155 58 -203 3 c -54.75 -62.73 -66.08 -216 17 -301 C 148.21 -15.62 380.31 -25.56 439.21 53.38 Z;
                    M 347.07 22 c 57 39 64.73 149.33 29 219 c -20 39 -78 52 -140 73 c -77.42 26.22 -179 44 -212 9 c -57.12 -60.58 -5 -151 77 -224 C 183.9 25.24 265.79 -33.63 347.07 22 Z;
                    M 386.77 41.25 c 53.25 71.37 -7 174 -56 222 c -49 48 -59 44 -96 79 c -37 35 -109.6 60.31 -171 11 c -64.92 -52.13 -92.31 -159.75 -24 -257 C 103.51 5.5 327.87 -37.68 386.77 41.25 Z;
                    M 439.21 53.38 c 53.25 71.37 5 195 -44 243 c -49 48 -104 53 -149 76 c -45.35 23.18 -155 58 -203 3 c -54.75 -62.73 -66.08 -216 17 -301 C 148.21 -15.62 380.31 -25.56 439.21 53.38 Z
                    "></animate>
                </path>
            </svg>
        </div>
        <div class="bg_circleObj bg_circleObj-3 js-animationLoadTarget">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 343.1 370.75">
                <path fill-rule="evenodd" d="M 2.93 193.75 c 14.29 -56.46 52.87 -50.89 65 -61 c 30 -25 6.83 -52.81 36 -91 c 42 -55 102 -56 155 -1 c 53 55 96 173 32 269 c -64 96 -170 25 -196 14 C 71.13 313.69 -17.07 272.75 2.93 193.75 Z">
                    <animate dur="16s" repeatCount="indefinite" attributeName="d" values="
                    M 2.93 193.75 c 14.29 -56.46 52.87 -50.89 65 -61 c 30 -25 6.83 -52.81 36 -91 c 42 -55 102 -56 155 -1 c 53 55 96 173 32 269 c -64 96 -170 25 -196 14 C 71.13 313.69 -17.07 272.75 2.93 193.75 Z;
                    M 3.55 218.58 c 10.36 -41.45 67.6 -45.77 96 -76 c 31 -33 -20.57 -61.58 0 -105 c 27 -57 117.53 -46.62 164 14 c 46 60 -29.88 96.77 -24 212 c 5 98 -135 130 -189 91 C 29.61 339.45 -12.45 282.58 3.55 218.58 Z ;
                    M 15.7 202.26 c 9.47 -12.5333 18.94 -25.0667 28.41 -37.6 c 20.24 -19.88 65.19 -66.79 85.76 -110.21 c 27 -57 105 -77 158 -22 c 53 55 83 148 19 244 c -64 96 -203 91 -229 80 C 54.08 346.38 -35.87 297.79 15.7 202.26 Z;
                    M 2.93 193.75 c 14.29 -56.46 52.87 -50.89 65 -61 c 30 -25 6.83 -52.81 36 -91 c 42 -55 102 -56 155 -1 c 53 55 96 173 32 269 c -64 96 -170 25 -196 14 C 71.13 313.69 -17.07 272.75 2.93 193.75 Z
                    "></animate>
                </path>
            </svg>
        </div>
        <div class="bg_obj js-animationLoadTarget">
            <picture>
                <source media="(max-width:767px)" srcset="/images/top/sp-top_bgObj.png" sizes="100vw">
                <img src="/images/top/top_bgObj.png" alt="美しさを知るために">
            </picture>
        </div>
        <div class="inner">
            <div class="mv_inner">
                <h1 class="site_title js-animationLoadTarget">
                    <picture>
                        <source media="(max-width:767px)" srcset="https://placehold.jp/383x171.png" sizes="100vw">
                        <img src="https://placehold.jp/476x225.png" alt="">
                    </picture>
                </h1>
                <div class="herbariumImage_wrap">
                    <div class="herbarium_image herbarium_image-motivation js-animationLoadTarget">
                        <!-- Slider main container -->
                        <div class="swiper">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                <div class="swiper-slide">
                                    <picture>
                                        <source media="(max-width:767px)" srcset="/images/top/mv_herbarium/sp-motivation-1.png" sizes="100vw">
                                        <img src="/images/top/mv_herbarium/motivation-1.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture>
                                        <source media="(max-width:767px)" srcset="/images/top/mv_herbarium/sp-motivation-2.png" sizes="100vw">
                                        <img src="/images/top/mv_herbarium/motivation-2.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture>
                                        <source media="(max-width:767px)" srcset="/images/top/mv_herbarium/sp-motivation-3.png" sizes="100vw">
                                        <img src="/images/top/mv_herbarium/motivation-3.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture>
                                        <source media="(max-width:767px)" srcset="/images/top/mv_herbarium/sp-motivation-4.png" sizes="100vw">
                                        <img src="/images/top/mv_herbarium/motivation-4.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture>
                                        <source media="(max-width:767px)" srcset="/images/top/mv_herbarium/sp-motivation-5.png" sizes="100vw">
                                        <img src="/images/top/mv_herbarium/motivation-5.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture>
                                        <source media="(max-width:767px)" srcset="/images/top/mv_herbarium/sp-motivation-6.png" sizes="100vw">
                                        <img src="/images/top/mv_herbarium/motivation-6.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture>
                                        <source media="(max-width:767px)" srcset="/images/top/mv_herbarium/sp-motivation-7.png" sizes="100vw">
                                        <img src="/images/top/mv_herbarium/motivation-7.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture>
                                        <source media="(max-width:767px)" srcset="/images/top/mv_herbarium/sp-motivation-8.png" sizes="100vw">
                                        <img src="/images/top/mv_herbarium/motivation-8.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture>
                                        <source media="(max-width:767px)" srcset="/images/top/mv_herbarium/sp-motivation-9.png" sizes="100vw">
                                        <img src="/images/top/mv_herbarium/motivation-9.png" alt="">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="herbarium_image herbarium_image-ephemeral js-animationLoadTarget">
                        <!-- Slider main container -->
                        <div class="swiper">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                <div class="swiper-slide">
                                    <picture>
                                        <source media="(max-width:767px)" srcset="/images/top/mv_herbarium/sp-ephemeral-1.png" sizes="100vw">
                                        <img src="/images/top/mv_herbarium/ephemeral-1.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture>
                                        <source media="(max-width:767px)" srcset="/images/top/mv_herbarium/sp-ephemeral-2.png" sizes="100vw">
                                        <img src="/images/top/mv_herbarium/ephemeral-2.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture>
                                        <source media="(max-width:767px)" srcset="/images/top/mv_herbarium/sp-ephemeral-3.png" sizes="100vw">
                                        <img src="/images/top/mv_herbarium/ephemeral-3.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture>
                                        <source media="(max-width:767px)" srcset="/images/top/mv_herbarium/sp-ephemeral-4.png" sizes="100vw">
                                        <img src="/images/top/mv_herbarium/ephemeral-4.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture>
                                        <source media="(max-width:767px)" srcset="/images/top/mv_herbarium/sp-ephemeral-5.png" sizes="100vw">
                                        <img src="/images/top/mv_herbarium/ephemeral-5.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture>
                                        <source media="(max-width:767px)" srcset="/images/top/mv_herbarium/sp-ephemeral-6.png" sizes="100vw">
                                        <img src="/images/top/mv_herbarium/ephemeral-6.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture>
                                        <source media="(max-width:767px)" srcset="/images/top/mv_herbarium/sp-ephemeral-7.png" sizes="100vw">
                                        <img src="/images/top/mv_herbarium/ephemeral-7.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture>
                                        <source media="(max-width:767px)" srcset="/images/top/mv_herbarium/sp-ephemeral-8.png" sizes="100vw">
                                        <img src="/images/top/mv_herbarium/ephemeral-8.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture>
                                        <source media="(max-width:767px)" srcset="/images/top/mv_herbarium/sp-ephemeral-9.png" sizes="100vw">
                                        <img src="/images/top/mv_herbarium/ephemeral-9.png" alt="">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="herbarium_image herbarium_image-carefree js-animationLoadTarget">
                        <!-- Slider main container -->
                        <div class="swiper">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                <div class="swiper-slide">
                                    <picture>
                                        <source media="(max-width:767px)" srcset="/images/top/mv_herbarium/sp-carefree-1.png" sizes="100vw">
                                        <img src="/images/top/mv_herbarium/carefree-1.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture>
                                        <source media="(max-width:767px)" srcset="/images/top/mv_herbarium/sp-carefree-2.png" sizes="100vw">
                                        <img src="/images/top/mv_herbarium/carefree-2.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture>
                                        <source media="(max-width:767px)" srcset="/images/top/mv_herbarium/sp-carefree-3.png" sizes="100vw">
                                        <img src="/images/top/mv_herbarium/carefree-3.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture>
                                        <source media="(max-width:767px)" srcset="/images/top/mv_herbarium/sp-carefree-4.png" sizes="100vw">
                                        <img src="/images/top/mv_herbarium/carefree-4.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture>
                                        <source media="(max-width:767px)" srcset="/images/top/mv_herbarium/sp-carefree-5.png" sizes="100vw">
                                        <img src="/images/top/mv_herbarium/carefree-5.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture>
                                        <source media="(max-width:767px)" srcset="/images/top/mv_herbarium/sp-carefree-6.png" sizes="100vw">
                                        <img src="/images/top/mv_herbarium/carefree-6.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture>
                                        <source media="(max-width:767px)" srcset="/images/top/mv_herbarium/sp-carefree-7.png" sizes="100vw">
                                        <img src="/images/top/mv_herbarium/carefree-7.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture>
                                        <source media="(max-width:767px)" srcset="/images/top/mv_herbarium/sp-carefree-8.png" sizes="100vw">
                                        <img src="/images/top/mv_herbarium/carefree-8.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture>
                                        <source media="(max-width:767px)" srcset="/images/top/mv_herbarium/sp-carefree-9.png" sizes="100vw">
                                        <img src="/images/top/mv_herbarium/carefree-9.png" alt="">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="lead">
        <div class="lead_present js-animationLoadTarget">
            <picture>
                <source media="(max-width:767px)" srcset="/images/top/sp-top_present.png" sizes="100vw">
                <img src="/images/top/top_present.png" alt="お肌チェックでサンプルプレゼント">
            </picture>
        </div>
        <p class="lead_text js-animationLoadTarget">
            <picture>
                <source media="(max-width:767px)" srcset="/images/top/sp-top_lead.png" sizes="100vw">
                <img src="/images/top/top_lead.png" alt="キレイを知る、肌を知る。あなただけの美しさがハーバリウムに">
            </picture>
        </p>
    </div>
    <div class="btn_start js-animationLoadTarget">
        <a href="/content/">
            <picture>
                <source media="(max-width:767px)" srcset="/images/top/sp-btn_start.png" sizes="100vw">
                <img src="/images/top/btn_start.png" alt="START">
            </picture>
        </a>
    </div>
    <div class="beforeLoading"></div>
    <div class="intro">
        <p class="intro_lead">
                <span class="introLead_text introLead_text-1">
                    <picture>
                        <source media="(max-width:767px)" srcset="/images/top/sp-intro_lead-1.png" sizes="100vw">
                        <img src="/images/top/intro_lead-1.png" alt="さぁ始めよう">
                    </picture>
                </span>
            <span class="introLead_text introLead_text-2">
                    <picture>
                        <source media="(max-width:767px)" srcset="/images/top/sp-intro_lead-2.png" sizes="100vw">
                        <img src="/images/top/intro_lead-2.png" alt="あなただけの">
                    </picture>
                </span>
            <span class="introLead_text introLead_text-3">
                    <picture>
                        <source media="(max-width:767px)" srcset="/images/top/sp-intro_lead-3.png" sizes="100vw">
                        <img src="/images/top/intro_lead-3.png" alt="美しさを知るために">
                    </picture>
                </span>
        </p>
    </div>

<%- include(ejsRoot + "template/footer.ejs", {meta: pageSettings}); %>
